<?php
/*

ykweb - Web based TOTP code access for Yubikeys
github.com/scrow/ykweb
Copyright (C) 2024 Steven Crow

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

*/

// Configuration
class config {
	// Enable or disable logging and specify log file location
	const logging_enabled	= false;
	const log_filename	= '/tmp/ykweb.log';
        // Also display the last 25 log entries when showing codes
        const show_logfile      = false;
	// Define the source of username and IP information:
	//  0 = none   1 = HTTP Basic   2 = Cloudflare Zero Trust Access
	const log_user_src	= 0;
};

?>
